<!DOCTYPE html>
<html lang="ja">
{% include head.html %}

<body>
    <main class="blogfeed">
        {% include header.html %} {% include bio.html %}
        <div class="category-area">
            <div class="article-bottom">
                <h3 class="article-top">カテゴリ<h3></h3>
                    <div class="article-categories">
                        <a href="#!" data-base-url="{{site.baseurl}}" class="article-category">プロフ</a>
                        <a href="#!" data-base-url="{{site.baseurl}}" class="article-category">技術</a>
                        <a href="#!" data-base-url="{{site.baseurl}}" class="article-category">雑記</a>
                    </div>
            </div>
        </div>

        <section id="articles">
            {% for post in site.posts %}
            <!--  -->
            {% if post.thumbnail %}
            <article class="article">
                <div class="article-top">
                    <div class="article-thumbnail" style="
                background-image: url('{{ post.thumbnail }}');
              ">
                        <div class="article-title">
                            <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                        </div>
                    </div>
                </div>
            </article>
            {% else %}
            <article class="article">
                <h2 class="article-top">
                    <div class="article-title">
                        <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                    </div>
                </h2>
            </article>
            {% endif %}
        </section>
        {% endfor %}
        <!--  -->
        {% include footer.html %}
    </main>
    {% include category-modal.html%}
</body>

</html>